.sidebar {
  width: 240px;
  height: 810px;
  height: (100vw - 56px);
  display: inline-flex;
  flex-direction: column;
  overflow-y: auto;
  position: fixed;
  top: 56px;
  left: 0;
  -ms-overflow-style: none;
  z-index: 10;
}

.sidebar::-webkit-scrollbar{
  width: 9px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #717171;
  border-radius: 9px;
}

.sidebarUl {
  list-style: none;
  padding: 12px;
  margin: 0px;
  border-bottom: 1.3px solid #232323
}

.sidebarH3 {
  padding: 6px 12px 4px;
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
}

.hideBox {
  width: 9px;
  height: 100%;
  position: fixed;
  top: 56;
  left: 231px;
  background-color: #0F0F0F;
}

.sidebar:hover .hideBox {
  opacity: 0;
}






.subSidebar {
  width: 72px;
  height: (100vw - 56px);
  padding: 0px 4px;
  margin-top: 2px;
  display: inline-flex;
  flex-direction: column;
  overflow-y: auto;
  position: fixed;
  top: 56px;
  left: 0;
  bottom: 0;
  -ms-overflow-style: none;
  z-index: 10;
}