@tailwind base;
@tailwind components;
@tailwind utilities;

.totalBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1225px) {
  .totalBox {
    width: 25%;
    min-width: 240px;
    height: 12.1%;
  }
}

@media screen and (min-width: 985px) and (max-width: 1224px) {
  .totalBox {
    width: 33%;
    min-width: 240px;
    height: 9%;
  }
}

@media screen and (min-width: 745px) and (max-width: 984px) {
  .totalBox {
    width: 50%;
    min-width: 240px;
    height: 6%;
  }
}

@media screen and (max-width: 744px) {
  .totalBox {
    width: 100%;
    min-width: 240px;
    height: 3%;
  }
}

.imgBox {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden
}

.thumbnail {
  width: 90%;
  object-fit : cover;
  border-radius: 13px;
  cursor: pointer;
}

.underBox {
  width: 90%;
  display: flex;
  overflow: hidden;
  padding-top: 10px;
}

.textBox {
  width: 80%;
  font-size: 14px;
  padding-left: 13px;
}

.text {
  width: 100%;
  height: 2.4rem;
  margin: 0;
  font-weight: 700;
  padding-bottom: 10px;
  line-height: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  cursor: pointer;
}

.text2 {
  margin: 0;
  color: gray;
  font-size: 12px;
  font-weight: 600
}

