.totalBox {
    width: calc(100% - 330px);
    margin-left: 330px;
    display: flex;
}

.totalBox2 {
    width: calc(100% - 140px);
    margin-left: 140px;
    display: flex;
}

.totalBox3{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sectionBox {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1613px) {
    .sectionBox {
        width: 1075px;
    }
}

@media screen and (min-width: 1398px) and (max-width: 1612px) {
    .sectionBox {
        width: 860px;
    }
}

@media screen and (min-width: 1310px) and (max-width: 1397px) {
    .sectionBox {
        width: 645px;
    }
}

@media screen and (min-width: 1208px) and (max-width: 1309px) {
    .sectionBox {
        width: 860px;
    }
}

@media screen and (min-width: 995px) and (max-width: 1207px) {
    .sectionBox {
        width: 645px;
    }
}

@media screen and (min-width: 790px) and (max-width: 994px) {
    .sectionBox {
        width: 430px;
    }
}

@media screen and (min-width: 687px) and (max-width: 789px) {
    .sectionBox {
        width: 645px;
        align-items: center;
    }

    .rightBox {
        display:none;
    }
}

@media screen and (min-width: 473px) and (max-width: 686px) {
    .sectionBox {
        width: 430px;
        align-items: center;
    }

    .rightBox {
        display:none;
    }
}

@media screen and (max-width: 472px) {
    .sectionBox {
        width: 215px;
        align-items: center;
    }

    .rightBox {
        display:none;
    }
}

.section {
    margin-bottom: 30px;
    border-bottom: 0.5px solid dimgray;
}

.titleBox {
    display: flex;
    justify-content: space-between;
}

.title {
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.title2 {
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.length {
    font-size: 16px;
    font-weight: 500;
    color: dimgray
}

.viewMore {
    margin-right: 15px;
    font-size: 14px;
    font-weight: 700;
    color: #3ea6ff;
}

.cardBox {
    max-width: 1075px;
    display: flex;
    flex-wrap: wrap;
}




.rightBox {
    width: 178px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    margin: 90px 0px 0px 30px;
}

.upBox {
    width: 100%;
    height: 154px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.profile {
    width: 80px;
    height: 80px;
    background-color: dimgray;
    border-radius: 80px;
}

.name {
    font-size: 16px;
    font-weight: 600;
    margin-top: 13px;
}

.textBox {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    color: #aaa;
    font-size: 12px;
    font-weight: 400;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)
}