
/* 650px ~ 999px 버튼 옆에 있음 */
/* 560px ~ 650px 버튼 아래에 있음, 클립 버튼까지 있음*/
/*  ~ 560px 오프라인 저장 버튼까지 있음 */





.totalBox {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1310px) and (max-width: 1570px) {
 .totalBox {
  justify-content: flex-start;
 }
}

.totalBoxCol {
  display: flex;
  flex-direction: column;
  padding: 24px;
}



.leftBox {
  width: calc(64vw + 48px);
  max-width: 1144px;
  padding: 24px;
}

.video {
  width: 64vw;
  max-width: 1097px;
  min-width: 640px;
  height: 36vw;
  max-height: 617px;
  min-height: 360px;
}

.videoCol {
  /* width: 93.5vw; */
  width: 100%;
  height: 52.6vw;
  display: flex;
  justify-content: center;
}

.vidTitle {
  font-size: 17.5px;
  font-weight: 700;
  padding-top: 23px;
  padding-bottom: 13px;
}



.channelInfoBox {
  display: flex;
  position: relative;
  justify-content: space-between;
}





.channelBox {
  display: flex;
}

.titleSubBox {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.channelTitle {
  height: 18px;
  font-size: 14px;
  font-weight: 600;
}

.subscriber {
  height: 18px;
  font-size: 12px;
  font-weight: 400;
}

.channelBtnBox {
  display: flex;
}

@media screen and (max-width: 649px) {
  .channelInfoBox {
    flex-direction: column;
  }

  .channelBtnBox {
    margin: 20px 0px 0px -10px;
  }
}


.desBox {
  margin-top: 20px;
  width: 100%;
  max-height: 116px;
  border-radius: 10px;
  padding: 10px;
  overflow-y: hidden;
  font-size: 13px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.1);
}

.desInfoBox {
  display: flex;
  font-weight: 600;
}

.pubText {
  margin-left: 10px;
}


.comBtnBox {
  display: flex;
  margin-top: 20px;
}

.comCount {
  font-size: 16px;
  font-weight: 600;
}

.comRangeBtn {
  font-size: 13px;
  margin-left: 30px;
  display: flex;
}

.sortText {
  margin-left: 10px;
}



.comIntBox {
  width: 100%;
  height: 40px;
  display: flex;
  margin-top: 30px;
}

.myProfile {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  overflow: hidden;
}

.profilePic {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.input {
  width: 100%;
  height: 25px;
  padding: 10px;
  margin-left: 10px;
  background: transparent;
  border-bottom: 0.5px solid #323232;
  font-size: 13px;
}



.comBox {
  width: 100%;
  display: flex;
  flex-direction: column;
}



.rightBox {
  max-width: 500px;
  min-width: 300px;
  padding: 24px 24px 0px 0px;
}

.underBox {
  width: 100%;
  padding: 24px 0px 5px 0px;
}

.rightBtnBox {
  max-width: 426px;
  min-width: 300px;
  height: 56px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  overflow: hidden;
  padding-bottom: 20px;
  background-color: #0F0F0F;
}

.underBtnBox {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  overflow: hidden;
  padding-bottom: 20px;
  background-color: #0F0F0F;
}

.viewMoreBtn {
  width: 100%;
  height: 38px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 34px;
  font-size: 14px;
  font-weight: 600;
  color: #3ea6ff
}

.viewMoreBtn:hover {
  background-color: rgba(110,188,255,0.2);
  border: none;
}



/* ///////////////////////////////////// */




.buttonBar {
  width: 100%;
  padding-right: 16px;
  position: relative;
  display: flex;
  align-items: flex-start;
  white-space: nowrap;
  z-index: 1;
}




.btnWrapLeft {
  height: 48px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.btnWrapRight {
  height: 48px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}




.colorBoxLeft {
  width: 70px;
  height: 48px;
  padding-right: 28px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  left: -2px;
  background: linear-gradient(90deg, #0F0F0F 60%, #0F0F0F00 100%);
  z-index: 5;
}

.colorBoxRight {
  width: 70px;
  height: 48px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0px;
  background: linear-gradient(90deg, #0F0F0F00 0%, #0F0F0F 40%);
  z-index: 5;
}





.dummyBoxLeft {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.dummyBoxRight {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}




.btnBoxLeft {
  width: 40px;
  height: 40px;
  background-color: #0F0F0F;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

.btnBoxRight {
  width: 40px;
  height: 40px;
  background-color: #0F0F0F;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}





.textBox {
  white-space: nowrap;
  padding: 7px 10px;
  position: absolute;
  top: 56px;
  transform: translateX(-7%);
  text-align: center;
  background-color: #717171;
  font-size: 12px;
  opacity: 0.9;
  border-radius: 4px;
  visibility: hidden;
  z-index: 20;
}




.btnBoxLeft:hover {
  filter: brightness(2.3)
}

.btnBoxRight:hover {
  filter: brightness(2.3);
}



.dummyBoxLeft:hover .textBox {
  visibility: visible;
}

.dummyBoxRight:hover .textBox {
  visibility: visible;
}
