.box {
  display: inline-flex;
  margin-top: 60px;
  padding-left: 240px;
  position: relative;
}

.videosUl {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 16px 0px 12px 24px;
  margin: 0px;
}