.topBox {
  display: flex;
  margin-top: 23px;
}

.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-top: 2px;
}

.comTextBox {
  margin-left: 20px;
  font-size: 12px;
}



.nameBox {
  display: flex
}

.name {
  font-weight: 700;
}

.publish {
  margin-left: 5px;
  color: gray
}

.comment {
  font-size: 13px;
  font-weight: 500
}



.btnBox {
  display: flex;
  margin-top: 5px;
}

.likeCount {
  margin-left: 6px;
  margin-right: 20px;
  color: #AAAAAA
}

.button {
  width: 20px;
}

.replyBtn {
  display: flex;
  align-items: center;
  padding: 0px 15px 0px 10px;
  margin: 10px 0px 5px -10px;
  border-radius: 36px;
}

.replyBtn:hover {
  background-color: rgba(110,188,255,0.2);
}

.replyCount {
  color: #3ea6ff;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  margin-left: 5px;
}