/* 1569px~ max-width 842px */

/* ? */
/* 1401px ~ 1568px 토글 시 628px 842px  */

/* 1355px ~ 1400px 토글 시 max-width 628px 842px*/
/* 1310px ~ 1354px 토글 시 max-width 414px 628px */
/* 1187px ~ 1309px max-width 628px*/
/* 973px ~ 1186px max-width 414px */
/* 876px ~ 972px text hidden*/
/* 687px ~ 875px 위의 버튼 박스 넓음 + 영상 아래로 내려감*/
/* 473px ~ 686px 위의 버튼 박스 중간 */
/* ~ 473px 위의 버튼 박스 작음 + text hidden*/

/* 1310px부터 full sidebar 나옴 */


.totalBox {
    width: 370px;
    /* display: absolute;
    top: 87px;
    right: 28px; */
}

.title {
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    border-bottom: 0.5px solid gray
}

.input {
    width: 250px;
    height: 50px;
    margin-left: 8px;
    background: transparent;
    border-bottom: 0.5px solid gray;
    font-size: 14px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.label {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 0.5px solid gray;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    background: transparent
}


.BigBtnBox {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.buttonBig {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    font-size: 14px;
    font-weight: 700;
}

.btnIcon {
    margin-right: 10px
}



.SmallBtnBox {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.buttonSmall {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 13px;
    color: gray;
}