.liBox {
  width: 204px;
  height: 40px;
  padding: 0px 12px;
  background-color: #0F0F0F;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.liBox:hover {
  filter: brightness(2.3)
}

.title {
  padding-left: 24px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.5px;
}